<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="text/javascript"
      src="https://cdn.socket.io/socket.io-1.4.5.js"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/rtc.js"></script>
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <link href="/index.css" rel="stylesheet" />
    <title>Continous glitch</title>
  </head>

  <body>
    <h1 class="mega shadow" >CONTINOUS GLITCH: </h1>
    <h2 class="shadow">Understanding RTP protocol by glitching an image collaboratively</h2>
    <div class="display">
   <img  class="display-img" src="/assets/display.png"><img>
   </div>
   <h3>This is a space to explore and  experience how your information travels in a distributed system.</h3>

    <h1>CREATING LIVING MEDIUM</h1>
    <h2>[0] Set up</h2>
    <dl>
      <dd>- Upload image</dd>
      <dd>- Share URL with your peers.</dd>
    </dl>
    <h1>INSIDE THE MEDIUM</h1>
    <dt>We will be part of a multi-feedback system, where we can identify  2 composable stages: </dt>
    <h2>[1] Single user interaction</h2>
    <p> You will be altering values of diffusion algorithm over an image with the <b> controls </b> <a class="extra" href="https://visualizer.solquemal.com/03-diffusion/"> Know more about diffusion system</a></p><p> This creates an  inner feedback loop with your scene(the image you are seeing on your screen). </p>
    <dl>
      <dt><b>Controls' Specification</b></dt>
       <p>
        Play around with sliders. 
      </p>
      <dd>- frecuencyBroadcast: number of frames you will be sending messages</dd>
      <dd>- step: size of neighbourhood radius of diffusion</dd>
      <dd>- iterations: how many times the algorithm is apply per frame </dd>
      <dd>- sharp: amount to sharpen colour</dd>
      <dd>- weigth: how important is the value of each current pixel</dd>
      <dd>- diffusionRate1: rate of diffusion of neighbours in directions: north, south, east, west </dd>
      <dd>- diffusionRate2: rate of diffusion of neighbours in directions: north-east, north-west, south-east, south-west</dd>
      <dd>- interpolate: value that mixes with previous frame</dd>
       <p>
         When you move sliders, you are updating values that will create messages. Some messages will be listened by all your peers, affecting the shared glitchy medium. As well as you will be receiving messages that will altered the control's values.
      </p>
       <dt><b> Decide how to interact </b></dt>
      <dd>
        - Choosing <b>when</b> to broadcast your messages in terms of frames. Using frecuencyBroadcast.
      </dd>
      <dd >
        - Choosing <b>what</b> values of the controls <b>you are sending </b> : default sharing values are diffusionRate1, sharp, interpolate. 
      </dd>
      <dd>
        - Choosing <b>what</b> values of the controls <b>you are receiving</b> : filters are not implemented yet.
      </dd>
    </dl>

    <h2>[2] Network interaction</h2>
    <p>Use <b>peer to peer connections</b> to have general context in where users’ actions will be affecting each other mediums. This context can be seenas  the outer feedback loop.</p>
    <p>
      For now, once you get the URL you are automatically connected to receive
      and send messages.<br />
    </p>
    <a href="/rtp"> Learn more! </a>
    <script>
      var connected = false;
      var img = new Image();
      window.addEventListener("load", function() {
        document
          .querySelector('input[type="file"]')
          .addEventListener("change", function() {
            if (this.files && this.files[0]) {
              const file = this.files[0];
              let formData = new FormData();
              formData.append("image", file);

              const params = {
                method: "POST",
                body: formData
              };

              fetch("/saveImage", params)
                .then(response => response.json())
                .then(data => {
                  img.src = data.path;
                  img.crossOrigin = "anonymous";
                   window.location.href = `medium?${data.path}`;
                  
                })
                .catch(error => {
                  console.error(error);
                });
            }
          });
      });

      //Calling connect from rtc.js
      if (!connected) {
        console.log("Connecting to socket...");
        connect();
        connected = true;
      }
    </script>
    <h2>Get started by uploading an image!</h2>
    <div id="myBtnContainer">
      <label class="btn" for="upload-photo">Choose file</label>
      <input type="file" name="photo" id="upload-photo" />
    </div>
    <footer>
      Workshop designed for
      <a href="https://hacklab01.org/hackn3t">hackn3t - hacklab web residencies </a> </br>
      facilitatd by <a href="https://solquemal.com/">sol sarratea</a>
    </footer>
  </body>
</html>
