<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <link href="/index.css" rel="stylesheet" />
    <title>continous Glitch</title>
  </head>
  <body style="background-color: rgb(244,244,144,0.5);">
    <h1>RTP - Real-time Transport Protocol </h1>
    <h3>Links:</h2>
       <h2><a href="https://www.youtube.com/watch?v=C5UWEWcGJgs"> What is P2P<br>
        <a href="https://en.wikipedia.org/wiki/WebRTC"> WebRTC</a></h3>
    <h2>Understanding how this project establish connection </h2>  
      <img src="https://cdn.glitch.com/8d48c6ad-8b9c-4b1c-8ced-c9a5316874a5%2Fphoto5085056526607034536.jpg?v=1590842594385"/>
     <p><a href="https://glitch.com/edit/#!/continous-glitch?path=js%2Frtc.js%3A1%3A0"> See RTP code.<br>
        <a href="https://glitch.com/edit/#!/continous-glitch?path=server.js%3A1%3A0"> See signalling server code.</p>
      <p>
       <a href="/">GO BACK</a>
    </p>
  </body>
</html>
