<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <link href="/index.css" rel="stylesheet" />
    <title>continous Glitch</title>
  </head>
  <body>
    <h1>RTP - Real-time Transport Protocol </h1>
    <h2>Links:</h2>
    <!------------------------------------------------------------------------------------->
    <!-- <h3><a href="https://www.youtube.com/watch?v=C5UWEWcGJgs"> What is P2P</a></h3> -->
    <!------------------------------------------------------------------------------------->
    <h3><a href="https://en.wikipedia.org/wiki/WebRTC"> WebRTC</a></h3>

    <h2>Understanding how this project establish connection </h2>
      <div class="row">
        <div class="cell">
          <img src="/assets/1.jpg"/>
          <img src="/assets/2.jpg"/>
        </div>
      </div>
    <p>
      <a href="/rtc.js"> See RTP code.<br>
        <a href="https://github.com/solsarratea/continousglitch/blob/main/server.js"> See server code.</p>
      <p>
       <a href="/">GO BACK</a>
    </p>
  </body>
</html>
